<!-- sidebar element declaration -->
<ejs-sidebar id="DefaultSidebar" closeOnDocumentClick="false" width="300px">
	<e-content-template>
		<div class="title-header">
			<div style="display:inline-block">Sidebar</div>
		</div>
	</e-content-template>
</ejs-sidebar>
<!-- end of sidebar element -->